/* Landscape view */

body {
  color: #fff;
  background-color: #000;
  background-image: url("/images/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body > header {
  background-color: #696969;
  background-image: url("/images/Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-shadow: -0.2em 0 0.2em black, 0 0.2em 0.2em black, 0.2em 0 0.2em black, 0 -0.2em 0.2em black;
}

nav ul li {
  background-color: #7F5417;
  background-image: url("/images/Navigation_element_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -0.5em 0 0.5em black, 0 0.5em 0.5em black, 0.5em 0 0.5em black, 0 -0.5em 0.5em black;
  text-shadow: -0.2em 0 0.2em black, 0 0.2em 0.2em black, 0.2em 0 0.2em black, 0 -0.2em 0.2em black;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul #active, nav ul li:hover {
  font-weight: bold;
  background-color: #dd9b41;
  background-image: url("/images/Navigation_element_active_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #7F5417;
  font-weight: bold;
}

main {
  background-color: #fff;
  background-image: url("/images/Tatami.jpg");
  border: 0.5em solid;
  border-image: url("/images/Tatami_border.png") 45 45 45 45 repeat repeat;
  color: #000;
}

#join-group {
  color: #fff;
  text-decoration: none;
  background-color: #dd9b41;
  background-image: url("/images/Navigation_element_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  box-shadow: -0.2em 0 0.2em black, 0 0.2em 0.2em black, 0.2em 0 0.2em black, 0 -0.2em 0.2em black;
  text-shadow: -0.2em 0 0.2em black, 0 0.2em 0.2em black, 0.2em 0 0.2em black, 0 -0.2em 0.2em black;
}

#join-group:hover {
  background-image: url("/images/Navigation_element_active_background.jpg");
}

#table-sources, #table-sources tr, #table-sources th, #table-sources td {
  border: solid 0.15em black;
  border-spacing: 0;
}

#footer {
  text-shadow: -0.2em 0 0.2em black, 0 0.2em 0.2em black, 0.2em 0 0.2em black, 0 -0.2em 0.2em black;
}

/* Portrait view */

@media screen and (orientation: portrait) {
  #portrait-menu-button > div {
    background-color: #7F5417;
  }

  nav {
    background-color: #696969;
    background-image: url("/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
