/* Landscape view */

body > header {
    display: table;
    border: solid black;
}
body > header > img {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    width: 8em;
}
h1 {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5em;
    width: 100%;
}


nav {
  display: block;
  position: absolute;
  float: left;
  width: 10em;
  padding: 0em 2em 2em;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  text-align: center;
  padding: 1em;
  margin-top: 2em;
  font-size: 1em;
}

main h2 {
  margin-bottom: 1em;
}

main h3 {
	margin-top: 1em;
}

main {
  margin: 1.5em 2em 0 14em;
  padding: 2em;
}

main ul {
  margin-left: 2em;
}

#join-group {
  display: block;
  margin-top: 2em;
  width: 10em;
  height: 1em;
  padding: 0.5em;
}

#join-group > img {
	height: 100%;
	margin-right: 0.5em;
	vertical-align: middle;
}

#table-provider {
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

#table-provider th {
  vertical-align: top;
}

#table-provider td {
  padding: 0 0 0.1em 1em;
  white-space: pre-line;
  vertical-align: top;
}

#table-sources {
  margin-top: 0.5em;
}

#table-sources th {
  padding: 0.5em;
}

#table-sources td {
  padding: 1em;
}

#nav_link {
  display: none;
}

#footer {
  padding: 1em;
  text-align: center;
  float: right;
  width: 100%;
}

/* Portrait view */

@media screen and (orientation: portrait) {
  body > header {
  	position: fixed;
  	top: 0em;
  	left: 0em;
  }

  #portrait-menu-button {
    display: table-cell;
    vertical-align: middle;
    padding: 2em;
  }
  
  #portrait-menu-button > div {
    padding: 0.5em;
  }

  #portrait-menu-button > div > div {
    width: 2.5em;
    border: 0.15em solid;
    margin: 0.75em;
  }
  
  #portrait-menu-button > div > span {
  	display: block;
  	text-align: center;
    width: 1.25em;
    height: 1.1em;
    font-size: 3.4em;
    font-family: sans-serif;
  }
  
  nav {
    display: none;
	position: fixed;
    float: none;
    top: 9.5em;
	right: 0em;
    width: 15em;
  }

  nav ul li {
    font-size: 1.5em;
    margin-top: 1.5em;
  }

  main {
    margin: 12em 2em 0em 2em;
  }

  #footer {
    font-size: 1.5em;
  }
}
